* {
  margin: 0;
  padding: 0;
}
body {
  color: #5c5c5c;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

/*ESTILO PAGINAS EN GENERAL*/
.contenedor {
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header header header"
    "slider-frame slider-frame slider-frame"
    "contenido2 contenido2 contenido2"
    "contenido3 contenido3 contenido3"
    "widget-1 widget-1 widget-1"
    "footer footer footer";
}

.contenedor img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*ESTILO PARA EL HEADER*/
.contenedor .header {
  grid-area: header;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.911);
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 0px 0px;
}

.header .divlogo {
  display: flex;
  justify-content: space-between;
  color: #0e365e;
  text-align: left;
  align-items: center;
  /*centra contenidos*/
}

.divlogo .logo {
  width: 60px;
  margin-right: 20px;
  margin-left: 5px;
}

.divlogo .divlogomarca {
  margin-right: 200px;
  font-weight: bolder;
}

.header div {
  width: 50%;
  font-size: 1rem;
}

.navegacion {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.2rem;
  z-index: 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.navegacion ul {
  list-style: none;
}

.menu > li {
  position: relative;
  display: inline-block;
}

.menu > li > a {
  display: block;
  padding: 20px 20px;
  color: #353535;
  text-decoration: none;
}

.menu li a:hover {
  color: #ce7d35;
  transition: all 0.3s;
}

/* SUBMENU DEL LINK DE SERVICIOS DE LA NAVEGACION*/

.submenu {
  position: absolute;
  background: white;
  width: 190px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  text-align: left;
  top: 100%;
  right: 10px;
}

.submenu li a {
  display: block;
  padding: 5px 5px;
  color: #353535;
  text-decoration: none;
  font-size: 0.9rem;
}

.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}

/*ESTILOS PARA EL CARRUSEL DE LA PAGINA PRINCIPAL*/

.slider-frame {
  display: grid;
  grid-column: span 3;
  width: 100%;
  height: 450px;
  margin: 10px auto 0;
  overflow: hidden;
}

.slider-frame ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}

.slider-frame li {
  width: 50%;
  list-style: none;
}

.slider-frame img {
  width: 100%;
  height: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }

  20% {
    margin-left: 0;
  }

  25% {
    margin-left: -100%;
  }

  45% {
    margin-left: -100%;
  }

  50% {
    margin-left: -200%;
  }

  70% {
    margin-left: -200%;
  }

  75% {
    margin-left: -300%;
  }

  100% {
    margin-left: -300%;
  }
}

/*ESTILO PARA EL BODY*/

.contenedor .contenido2 {
  grid-area: contenido2;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
  background-color: #f1f0ef;
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contenido2 .div {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10px;
  background-color: white;
  height: auto;
  padding: 10px;
  margin: 10px;
}
.imagencentral {
  padding: 20px;
}

.tituloscentral {
  margin-left: 20px;
  font-size: larger;
}

.textocentral {
  text-align: left;
  margin-inline: 20px;
  margin-top: 30px;
  padding-bottom: 20px;
}

.enlacecentral {
  display: inline-block;
  border: 1px solid #3d3935;
  color: #5c5c5c;
  text-decoration: none;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 20px;
  padding: 7px;
}

.enlacecentral:hover {
  background-color: #3d3935;
  color: white;
}

/*ESTILOS DE LAS PAGINAS DE SERVICIOS*/

.contenedor .contenido3 {
  background-color: #f1f0ef;
  grid-area: contenido3;
  display: flex;
  justify-content: initial;
  width: auto;
  height: auto;
  margin: 10px 0px 10px 0px;
  padding: 20px;
}

.contenido3 > div {
  width: 100%;
}

.contenido3 .div img {
  width: 100%;
}

.contenido3 .divnosotros {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  padding-left: 20px;
  padding-right: 20px;
}

/*ESTILOS PARA LA API DE LA PAGINA PRINCIPAL*/

.contenedor .widget-1 {
  background: #00477b;
  color: white;
  font-style: bold;
  font-weight: bold;
  height: auto;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-1 {
  grid-area: widget-1;
}

.widget-1 .usuarioApi {
  display: inline-block;
  margin: 10px;
  text-align: center;
  border: 1px solid rgb(231, 231, 237);
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  background-color: #00477b;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

/*ESTILOS PARA EL FORMULARIO*/

.contenedorFormulario {
  background: white;
  display: grid;
  grid-column: span 3;
  width: 100%;
  border: none;
  margin: none;
  gap: 10px;
  justify-content: center;
}

.divImagenForm {
  display: grid;
  grid-column: span 3;
  height: 320px;
  margin-top: 10px;
}

.imagenFormulario {
  width: 100%;
  height: auto;
}

.fieldsetForm {
  width: auto;
  border: 2px solid rgb(89, 86, 86);
  border-radius: 10px;
  grid-column: span 3;
  color: rgb(167, 163, 163);
  padding: 15px;
}

.fieldsetFormDatosP {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column: span 3;
  gap: 50px;
  padding: 20 20 30 20;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  border: none;
  color: rgb(158, 154, 154);
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin: 20px;
}

.formulario__label {
  display: block;
  font-weight: 600;
  padding: 3%;
  cursor: pointer;
  color: rgb(164, 163, 163);
}

.formulario__grupo-input {
  position: relative;
}

.formulario__input {
  width: 100%;
  border: 1px solid rgb(163, 163, 163);
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  margin-left: 5px;
}

.formulario__input:focus {
  border: 3px solid #0075ff;
  outline: none;
  box-shadow: 3px 0 30px rgba(87, 87, 87, 0.4);
}

.formulario__checkbox {
  margin-right: 10px;
}

.formulario__terminos,
.formulario__grupo-btn {
  grid-column: span 3;
  font-weight: 25px;
  height: 50%;
}

.formulario__btn-enviar {
  display: grid;
  grid-column: span 3;
  justify-content: center;
}

.formulario__btn {
  height: 45px;
  line-height: 45px;
  width: 40vmax;
  background: #00477b;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s ease all;
}

.formulario__btn:hover {
  box-shadow: 3px 0px 10px rgb(89, 88, 88);
}

.iframeFormulario {
  display: grid;
  grid-column: span 3;
}

/*ESTILOS PARA EL FOOTER*/

.contenedor .pie-pagina {
  background-color: #00477b;
  color: #fff;
  grid-area: footer;
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.pie-pagina .grupo-1 {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.pie-pagina .grupo-1 li {
  list-style: none;
}
.pie-pagina .grupo-1 .box {
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
}

.pie-pagina .grupo-1 .box h2 {
  margin-bottom: 25px;
  font-size: 2rem;
}

.pie-pagina .grupo-1 .box > a {
  color: white;
}

.pie-pagina .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 50px;
  height: 80px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: rgb(0, 191, 255);
}

.pie-pagina .grupo-2 {
  background-color: lightgray;
  padding: 2px 2px;
  margin: 10px;
  text-align: center;
  color: darkblue;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-2 small {
  align-items: center;
  font-size: 16px;
  padding: 5px;
}

/* @MEDIA SCREEN PARA TABLETAS*/

@media screen and (max-width: 768px) {
  /*    BODY      */
  .contenedor {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "header"
      "slider-frame"
      "contenido2"
      "contenido3"
      "widget-1"
      "footer";
  }

  /*   HEADER     */

  .contenedor .header {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .divlogo .logo {
    width: 5rem;
    padding: 10px;
    margin-left: 10px;
  }

  .divlogo .divlogomarca {
    display: none;
  }
  .header div {
    font-size: 1rem;
  }
  .navegacion {
    width: auto;
    ul {
      justify-content: center;
      align-items: center;
    }
  }

  /*   SECCION DE TARJETAS DE SERVICIOS   */

  .contenedor .contenido2 {
    display: grid;
    grid-area: contenido2;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    width: auto;
    height: auto;
    padding: 2px;
    background-color: #f1f0ef;
  }
  .contenido2 .enlacecentral,
  .contenido2 .div {
    display: grid;
    width: auto;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    height: auto;
    border: none;
    padding: 2px;
    margin-bottom: 5px;
  }

  /*  SECCION NOSOTROS Y PAGINAS DE SERVIVIOS     */

  .contenedor .contenido3 {
    display: inline-block;
    grid-area: contenido3;
    background-color: #f1f0ef;
    width: auto;
    padding-top: 10px;
    margin: 10px;
  }

  .contenido3 .divnosotros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    width: auto;
    background-color: #f1f0ef;
    height: auto;
    margin-bottom: 5px;
    padding-top: 10px;
  }
  .contenido3 .div img {
    width: 100%;
  }

  /*       FOOTER      */

  .pie-pagina .grupo-1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
  }

  /*  PAGINA DE FORMULARIO   */

  .fieldsetForm,
  .fieldsetFormDatosP,
  .formulario {
    display: grid;
    width: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}

/*RESPONSIVO PARA CELULARES PAGINA FORNULARIO*/

@media screen and (max-width: 400px) {
  .fieldsetForm,
  .fieldsetFormDatosP,
  .formulario,
  .contenedorFormulario {
    display: grid;
    grid-template-columns: 1fr;
  }
}
