.header {
    display: flex; /* Utiliza flexbox para alinear elementos en la misma línea */
    align-items: center; /* Centra verticalmente los elementos */
  }
  
.header img {
    max-width: 100px; /* Ajusta el ancho máximo de la imagen según tus necesidades */
    margin-right: 10px; /* Agrega margen a la derecha de la imagen para separarla del texto */
  }
  
.header h1 {
    margin: 0; /* Elimina el margen predeterminado del encabezado */
  }


  .footer {
    display: flex; /* Utiliza flexbox para alinear elementos en la misma línea */
    align-items: left; /* Centra verticalmente los elementos */
  }


nav ul {
    list-style: none; /* Elimina los puntos de lista */
    padding: 0; /* Elimina el relleno predeterminado de la lista */
    text-align: right; /* Alinea el texto hacia la derecha */
 }
  
nav li {
    display: inline; /* Muestra los elementos de la lista en línea */
    margin-left: 20px; /* Agrega un margen a la izquierda para separar los elementos del menú */
  }
  
nav a {
    text-decoration: none; /* Elimina la decoración de subrayado de los enlaces */
    color: #333; /* Color de texto para los enlaces */
    font-weight: bold; /* Añade negritas al texto de los enlaces (opcional) */
  }
 

  
 /* Estilos generales para el carrusel */
Carousel {
    width: 100%; /* Carrusel ocupa todo el ancho de la página */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    @include neo( 1, 1em, 1em)
  }
  
  /* Estilos para las imágenes del carrusel */
.carousel-item img {
    width: 100%; /* Ajusta el ancho de las imágenes al 100% del contenedor */
    max-height: 500px; /* Altura máxima para evitar que las imágenes sean demasiado grandes */
    object-fit: cover; /* Escala y recorta las imágenes para adaptarse al tamaño del contenedor */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

  }
  
  /* Estilos para el texto de cada diapositiva */
  .carousel-caption h3 {
    background: rgba(0, 0, 0, 0.7); /* Fondo semi-transparente para el texto */
    color: #fff; /* Color de texto blanco */
    padding: 10px; /* Espaciado interno */
  }
  
  /* Estilos para las flechas de navegación del carrusel */
  .carousel-control-prev-icon, .carousel-control-next-icon {
    background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente para las flechas */
    color: #fff; /* Color de las flechas blanco */
    border: none; /* Elimina el borde de las flechas */
  }
  
  /* Estilos para los íconos de flechas de navegación */
  .carousel-control-prev-icon, .carousel-control-next-icon {
    font-size: 30px; /* Tamaño de los íconos de flechas */
  }
  
  /* Estilos para los puntos de indicación del carrusel (opcional) */
  .carousel-indicators li {
    background-color: #777; /* Color de fondo de los puntos inactivos */
  }
  
  .carousel-indicators .active {
    background-color: #333; /* Color de fondo del punto activo */
  }
  
